body {
    background-image: url('https://images.pexels.com/photos/6863252/pexels-photo-6863252.jpeg');
    background-size: 100%; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    margin: 0; /* Removes default body margin */
    padding: 0; 
    color: white;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}
.navbar-brand img {
    max-height: 40px;
    border-radius: 50%; /* Make the image circular */
    overflow: hidden; /* Ensure the border-radius works as expected */
    margin-right: 10px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}


/* Navigation Bar Styles */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
}

/* Main Content Styles */
.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h1, h2 {
    color: #fff;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 10px 0;
    }
}
.navbar {
    background-color: #3498db; /* Set your desired background color */
}


.navbar-brand,
.navbar-toggler {
    margin-left: 10px; /* Add some margin to the left of the brand and toggler */
}

.navbar-nav {
    margin-left: 75%; /* Push the nav items to the right */
}

.navbar-nav .nav-item {
    margin-right: 0; /* Add some margin between nav items */
}

.navbar-text {
    margin-left: 10px; /* Add some margin to the left of the navbar text */
}